extends ./layout.pug

block content
    input#click-here(type="button", value="click")
    label#message


    script(type='text/javascript').
        (function() {
            document.querySelector('#click-here').addEventListener('click', function(e) {
                document.querySelector('#message').innerText = 'clicked button';
            });
        })();
