extends ./layout.pug

block content
    div
        p#visibilityHidden(style="visibility: hidden") Some invisible text here
        p#displayNone(style="display: none") Some other invisible text
        p#visibleBlock(style="display: block") Some visible text
