extends ./layout.pug

block content
    label#delayed-text

    script(type='text/javascript').
        (function() {
            setTimeout(function() {
                document.querySelector('#delayed-text').className = 'dummy-class';
            }, 2000)
        })();

